@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');


@font-face {
    font-family: "P22 Johnston Underground";
    src: url("../fonts/p22_johnston_underground_regular.ttf")
}

/* --------------------------------------General */

.uppercase {
    text-transform: uppercase;
}

.johnston-font {
    font-family: "p22_johnston_underground_regular", sans-serif;
}

.roboto-font {
    font-family: "Roboto", sans-serif;
}

.no-gutters>.col, .no-gutters>[class*=col-] {
    /* padding-right: 30px;
    padding-left: 30px; */
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

/* --------------------------------------Colours */

/* --------------------------------------Header */

header {
    margin:0;
}

/* -------------Navbar */
.navbar {
    border: solid 0.0625rem;
    border-color: #000000;
    /* margin: 5px; */
    margin: 0.3125rem;
    /* padding-left: 25px;  */
    /* height: 100px; */
}

.navbar-brand {
    background: url("../images/done_boxlogo_lg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 50px;
    width: 150px;
    padding-left: 20px; */
    height: 3.125rem;
    width: 9.375rem;
    padding-left: 1.25rem;
}

.nav-link {
    font-size: 1.25rem;
    font-weight: 700;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler i {
    color: #000000;
    border: none;
    font-size: 2.1875rem;
    margin: 0;
}

button:focus {
    outline: none;
}

/* .navbar-toggler i:active {
    border: none;
    color: #b71c1c;
} */


/* .navbar-toggler-icon {
    color: #000000;
    border: none;
    font-size: 20px;
}

.navbar-toggler-icon:active {
    color: #b71c1c;
    border: none;
} */

.list-inline-item:not(:last-child) {
    margin: 0;
}

/* --------------------------------------Footer */

footer {
    margin: 0;
}

#footer-row {
    height: 4.25rem;
    border: solid 0.0625rem;
    margin: 0.3125rem;
}

/* -------------Mailing List */

.mailing-list {
    padding-top: 0.187rem;
}

.mailing-list label {
    font-size: 0.937rem;
}

/* -------------Copyright */

.copyright {
    text-align: center;
    line-height: 4.25rem;
    font-size: 0.625rem;
    padding: 0;
}

button[type="submit"] {
    color: #fff;
    background-color: #b71c1c;
    border: none;
}

button[type="submit"]:hover {
    background-color: #7f0000;
}

/* -------------Social Links */

.social-links {
    text-align: center;
    line-height: 4.25rem;
    margin: 0;
}

.social-links li a i {
    color: #000000;
    font-size: 1.25rem;
    margin: 0 0.75rem;
}

/* --------------------------------------Media Queries */

@media screen and (min-width: 768px) {
    .social-links li a i {
        font-size: 1.875rem;
    }
}

@media screen and (min-width: 992px) {
    .social-links {
    text-align: right;
    }
}

@media screen and (prefers-reduced-motion: no-preference) {
    .carousel-item {
       scroll-behavior: smooth;
    }
}

