@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');


@font-face {
    font-family: "P22 Johnston Underground";
    src: url("../fonts/p22_johnston_underground_regular.ttf")
}

.uppercase {
    text-transform: uppercase;
}
/* --------------------------------------Header */

header {
    margin:0;
}

#header-row {
    border: solid 1px;
    /* height: 100px;  */
}

.logo {
    background: url("../images/done_boxlogo_lg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 75px; */
    /* line-height: 100px; */
    /* margin: 12px auto; */
    display: block;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0; 
}

#nav li {
    font-size: 20px;
    padding: 0;
}

.menuitem {
    font-family: "p22_johnston_underground_regular", sans-serif;
    font-weight: 600;
    height: 100px;
    line-height: 100px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #000000;
}
