@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: "P22 Johnston Underground";
    src: url("../fonts/p22_johnston_underground_regular.ttf")
}

/* --------------------------------------General paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

/* -------------Headings */

.heading {
    font-family: "p22_johnston_underground_regular", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #000000;
    margin: 1.875rem;
}

.sub-heading {
    font-family: "p22_johnston_underground_regular", sans-serif;
    font-weight: 500;
    text-align: center;
    color: #000000;
    margin: 1.875rem;
    padding-bottom: 1.25rem;

}

/* -------------Text */

.uppercase {
    text-transform: uppercase;
}

.johnston-font {
    font-family: "p22_johnston_underground_regular", sans-serif;
}

.roboto-font {
    font-family: "Roboto", sans-serif;
}

/* -------------Buttons */

.btn-primary {
    color: #fff;
    background-color: #b71c1c;
    border: none;
}

.btn-primary:hover {
    background-color: #7f0000;
}

/* .no-gutters>.col, .no-gutters>[class*=col-] {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
} */

/* --------------------------------------Colours */

/* --------------------------------------Header */

header {
    margin: 0;
}

/* -------------Navbar */
.navbar {
    border: solid 0.0625rem;
    border-color: #000000;
    /* margin: 5px; */
    margin: 0.3125rem;
    /* padding-left: 25px;  */
    /* height: 100px; */
}

.navbar-brand {
    background: url("../images/done_boxlogo_lg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 3.125rem;
    width: 9.375rem;
    padding-left: 1.25rem;
}

.nav-link {
    font-size: 1.25rem;
    font-weight: 700;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler i {
    color: #000000;
    border: none;
    font-size: 2.1875rem;
    margin: 0;
}

/* .navbar-toggler i:active {
    border: none;
    color: #b71c1c;
} */


/* .navbar-toggler-icon {
    color: #000000;
    border: none;
    font-size: 20px;
}

.navbar-toggler-icon:active {
    color: #b71c1c;
    border: none;
} */

.list-inline-item:not(:last-child) {
    margin: 0;
}

/* --------------------------------------Footer */

footer {
    margin: 0;
    /* height: 15vh; */
}

#footer-row {
    height: 4.25rem;
    border: solid 0.0625rem;
    margin: 0.3125rem;
}

/* -------------Mailing List */

.mailing-list {
    padding-top: 0.1875rem;
    padding-left: 0.9375rem !important;
}

.mailing-list label {
    font-size: 0.937rem;
}

/* button[type="submit"] { */ 


/* -------------Copyright */

.copyright {
    text-align: center;
    line-height: 4.25rem;
    font-size: 0.625rem;
    padding: 0;
}





/* -------------Social Links */

.social-links {
    text-align: center;
    line-height: 4.25rem;
    padding-right: 0.9375rem !important;
    margin: 0;
}

.social-links li a i {
    color: #000000;
    font-size: 1.25rem;
    margin: 0 0.75rem;
}

/* --------------------------------------Home Page Carousel */

.carousel-container {
    margin: 1.25rem 0.3125rem;
}

/* #heroCarousel {
    height: 70vh;
} */

/* --------------------------------------Shop */

.card {
    border: none;
}

.card-title {
    margin-bottom: 0.3125rem;
}

.card-body {
    margin-bottom: 2.5rem;
}

/* .shopcontainer {
}

.shopcontainer img {
    height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.shopcontainer p {
    text-align: center;
}
.shopitem {
}

.product-description {
    font-weight: 600;
    margin-bottom: 0;
} */

/* --------------------------------------About */

.about-text {
    text-align: justify;
    margin: 0 1.25rem;
}

.promo-video {
 
}

video:focus {
    outline: none;
}

.press-card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;

}

.press-card img {
    height: 6.25rem;
    width: 6.25rem;
    /* margin-left: 9.25rem; */
    margin-top: 1.5625rem;
    float: right;
}

.roudel-logo img {
    margin-top: 1rem; 
}

.btn-secondary {
    color: #b71c1c;
    background-color: #fff;
    border: none;
    padding: 0;
}

.btn-secondary:hover {
    color: #b71c1c;
    background-color: #fff;
    border: none;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #b71c1c;
    background-color: #fff;
    border: none;
}

/* --------------------------------------Contact*/

.shop-location-info {
    padding: 0;
}

.shop-image, 
.shop-map {
    padding: 1.25rem;
    border-radius: 1.5625rem;
}


/* --------------------------------------Media Queries */

@media screen and (min-width: 768px) {
    .social-links li a i {
        font-size: 1.875rem;
    }
}

@media screen and (min-width: 992px) {
    .social-links {
    text-align: right;
    }
}

@media screen and (min-width: 768px) {
    #heroCarouselSm {
        /* visibility: hidden; */
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #heroCarousel {
        display: none;
    }
    
    .press-card {
        text-align: center;
    }

    .press-card img {
        float: none;
    }
}



